* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #331D0E;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/images/wesley-tingey-_0sEjWfAK3Q-unsplash.jpg');
    background-size: cover;
}

a {
    color: #331D0E;
}

.container {
    max-width: 1100px;  
    margin: 0 auto;
    padding: 0 20px;
    background-color: #FAF5EF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}